@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: var(--dark-text);
}

:root {
    /* Tema escuro */
    --dark-background: hsl(220, 40%, 6%); /* Fundo da pagina */
    --dark-container: hsl(220, 25%, 5%); /* Fundo dos conteineres */
    --dark-border: hsl(220, 20%, 45%); /* Borda dos conteineres */
    --dark-text: hsl(220, 25%, 75%); /* Texto simples */
    --dark-title: #ffffff;
    --theme: hsl(220, 100%, 60%); /* Tema para destaque de elementos */
}

h1, h2 {
    font-weight: 500;
    color: var(--dark-title);
}

body, html{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
}

b {
    font-weight: 500;
    color: #ffffff;
}

.title {
    font-size: 27px;
}

.section {
    background: var(--dark-container);
    border: 1px solid var(--dark-border);
    border-radius: 8px;
    margin: 8px;
    padding-bottom: 20px;
}

.section #section-header {
    border-bottom: 1px solid var(--dark-border);
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.section #section-content {
    padding: 10px;
}

.sections {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.vertical-section {
    height: 500px;
    width: 100%;
    max-width: 250px;
}

.horizontal-section {
    width: 90%;
}

.levels {
    display: flex;
    align-items: center;
    margin: 12px;
}

.levels div {
    width: 15px;
    height: 5px;
    border: none;
    border-radius: 8px;
    margin: 0 2px;
    background: gray;
}

.describing-levels {
    display: flex;
    align-items: center;
}

.describing-levels #title {
    display: flex;
    align-items: center;
}

.describing-levels #title ion-icon {
    margin: 5px;
}

.basic div:nth-child(1){
    background: #ffffff;
}

.medium div:nth-child(-n+2){
    background: #ffffff;
}

.advanced div:nth-child(1n){
    background: #ffffff;
}

