body {
    background: var(--dark-background);
}

nav {
    background: var(--dark-container);
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-right: 1px solid var(--dark-border);
}

#all {
    display: flex;
    height: 100vh;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}

#content {
    overflow-y: scroll;
    flex: 2;
}

#profile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#profile-img {
    height: 300px;
    border: none;
    border-radius: 8px;
}

#profile-info {
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 450px;
    line-height: 25px;
}

.topic {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.topic div {
    cursor: pointer;
    transition: all 0.5s;
}

.topic div:hover {
    color: #ffffff;
}

#skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

#skills-data {
    width: 90%;
}

#skill-levels {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


nav ion-icon {
    margin: 12px;
    color: var(--theme)
}

/* Niveis de habilidade */
.html div:nth-child(1n){
    background: hsl(15, 100%, 60%);
}

.css div:nth-child(-n + 2){
    background: hsl(280, 100%, 60%);
}

.js div:nth-child(-n + 2){
    background: hsl(50, 100%, 60%);
}

.react div:nth-child(1){
    background: hsl(190, 100%, 60%);
}

.react-n div:nth-child(1){
    background: hsl(190, 100%, 60%);
}

.php div:nth-child(-n + 2){
    background: hsl(230, 100%, 60%);
}

.sql div:nth-child(-n + 2){
    background: hsl(0, 60%, 50%);
}

.node div:nth-child(1){
    background: hsl(90, 100%, 50%);
}

.firebase div:nth-child(1){
    background: hsl(30, 100%, 60%);
}

.git div:nth-child(1){
    background: hsl(330, 100%, 60%);
}

.figma div:nth-child(1){
    background: hsl(280, 100%, 60%);
}

.figma div:nth-child(2){
    background: hsl(120, 60%, 60%);
}

@media (max-width: 850px){
    nav {
        display: none;
    }
}