body {
    background: var(--dark-tone-zero);
}

div {
    height: 100px;
    width: 100px;
}

#one {
    background: var(--dark-tone-one);
}

#two {
    background: var(--dark-tone-two);
}

#three {
    background: var(--dark-tone-three);
}